
<div class="col-md-6">
    <h2>Welcome to the Comic Book Gallery</h2>
    <p>Your source for Comics of all kinds</p>
</div>
<div class="col-md-6" style="overflow: hidden">
    <img src="~/Images/comicbookjunkie-banner.jpg" alt="index-top-banner" class="img-responsive" />
</div>

<hr />

